@media screen and (max-width: 576px) {
  .header-top {
    .header-phones {
      .header-phone  {
        font-size: 1rem;
      }
      .header-callback {
        font-size: 0.9rem;
      }
    }
  }

  .header-content {
    .container {
      background-image: none;
      .col-sm-12 {
        padding-right: 0;
      }
      .header-offer {
        background-image: none;
        &::before {
          display: none;
        }
        .header-offer-wrapper {
          margin: 20px;
        }
      }
    }
  }

  .main-footer {
    margin-bottom: 65px;
  }

  .whatsapp {
    bottom: 0;
    left: 0;
    border-radius: 0;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    box-shadow: none;
    outline: none;
    width: 100%;
    &::before {
      margin-right: 20px;
    }
  }

}

@media screen and (max-width: 992px) {
  .review {
    margin: 20px;
  }
}
